@media (max-width: 1200px) {
    .header {
        min-height: 220px;
        padding: 30px 30px 50px 30px;
        &__wrapper {
            justify-content: space-between;
        }
        &__logo {
            margin-right: 90px;
        }
        &__menu{
            margin-right: 185px;
        }
        &__contacts {
            width: 240px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            flex-direction: column;
        }
    }
    .promo {
        padding: 30px 30px 90px 30px;
        &__wrapper {
            justify-content: space-around;
        }
    }
    .button {
        margin-top: 25px;
        &_form {
            margin-top: 0px;
        }
    }
    .subscribe {
        margin-top: 70px;
        padding: 50px 79px 55px 79px;
        width: 100%;
        &__descr {
            width: 50%;
            justify-content: center;
        }
        &__form {
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            width: 50%;
        }
        &__email {
            margin-right: 0;
        }
        &__title {
            margin: 0 auto;
            text-align: center;
        }
        &__subtitle {
            margin-top: 0;
            width: 80%;
            text-align: center;
        }
    }
    .pageup {
        &__link {
            margin: 0 97%;
        }
    }
}
@media (max-width: 991px) {
    .header {
        min-height: 180px;
        padding: 25px 30px 35px 30px;
        &__logo {
            margin-right: 0;
            width: 65px;
        }
        &__menu {
            margin-right: 0;
            width: 330px;
            ul {
                li {
                    a {
                        font-size: 16px;
                        line-height: 16px;
                    }
                }
            }
        }
        &__contacts {
            width: 215px;
        }
        &__phone {
            font-size: 20px;
            line-height: 20px;
        }
        &__title {
            margin-top: 30px;
            font-size: 35px;
        }
    }
    .container {
        max-width: 991px;
    }
    .promo {
        padding: 20px 30px 50px 20px;
        &__sort {
            width: 100%;
            justify-content: space-around;
        }
        &__item {
            font-size: 16px;
            line-height: 16px;
        }
        &__link {
            font-size: 16px;
            line-height: 16px;
            span {
                margin-right: 8px;
            }
        }
        &-card {
            width: 355px;
            margin-bottom: 20px;
            &__discount {
                top: 17px;
                left: 31px;
                padding: 10px 0 10px 0;
                width: 68px;
                height: 35px;
                font-size: 14px;
                line-height: 14px;
            }
            &__wrapper {
                top: 28px;
            }
            &__heart {
                width: 25px; 
                height: 25px; 
                &:before, &:after {
                    width: 25px;
                    height: 25px;
                }
            }
            &__descr {
                padding: 20px 29px 22px 27px;
            }
            &__title {
                font-size: 22px;
                line-height: 22px;
            }
            &__items {
                margin-top: 18px;
                
            }
            &__item {
                span {
                    font-size: 14px;
                    line-height: 15px;
                }
                &:nth-child(1) {
                    margin-left: 17px;
                }
            }
            &__price {
                margin-top: 14px;
                font-size: 22px;
                line-height: 22px;
            }
            &__btn {
                padding: 15px 0 15px 0;
                width: 100%;
            }
        }
    }
    .button {
        margin-top: 10px;
        width: 355px;
        height: 55px;
        &_form {
            width: 250px;
            margin-top: 0;
        }
    }
    .subscribe {
        margin-top: 45px;
        padding: 30px 40px 45px 40px;
        height: 270px;
        &__title {
            font-size: 39px;
            line-height: 39px;
        }
        &__subtitle {
            font-size: 23px;
        }
        &__email {
            width: 250px;
            padding: 0 25px;
            font-size: 12px;
        }
        label {
            font-size: 12px;
        }
        &__checkbox + label {
            &:before {
                width: 15px;
                height: 15px;
                margin-right: 10px;
            }
        }
    }
    .pageup {
        &__link {
            margin: 0 96%;
        }
    }

}
@media (max-width: 767px) {
    .header {
        min-height: 135px;
        padding: 15px 20px 20px 20px;
        &__logo {
            width: 55px;
            &:hover {
                cursor: auto;
            }
        }
        &__menu {
            width: 210px;
            ul {
                li {
                    a {
                        font-size: 14px;
                        line-height: 14px;
                        &:hover {
                            cursor: auto;
                        }
                    }
                }
            }
        }
        &__contacts {
            width: 180px;
        }
        &__phone {
            font-size: 18px;
            line-height: 18px;
            &:hover {
                cursor: auto;
            }
        }
        &__text {
            font-size: 16px;
            line-height: 16px;
        }
        &__title {
            margin-top: 20px;
            font-size: 28px;
        }
    }
    .container {
        max-width: 767px;
    }
    .promo {
        min-height: 1530px;
        padding: 15px 20px 30px 20px;
        &__sort {
            margin-bottom: 20px;
        }
        &__item {
            font-size: 14px;
            line-height: 14px;
        }
        &__link {
            font-size: 14px;
            line-height: 14px;
            &:hover {
                cursor: auto;
            }
            span {
                margin-right: 3px;
            }
        }
        &-card {
            width: 300px;
            margin-bottom: 15px;
            &__discount {
                top: 12px;
                left: 15px;
                padding: 8px 0 10px 0;
                width: 60px;
                height: 28px;
                font-size: 12px;
                line-height: 12px;
            }
            &__wrapper {
                top: 20px;
            }
            &__heart {
                width: 25px; 
                height: 25px; 
                &:before, &:after {
                    width: 25px;
                    height: 25px;
                }
            }
            &__descr {
                padding: 15px 20px 15px 20px;
            }
            &__title {
                font-size: 20px;
                line-height: 20px;
            }
            &__items {
                margin-top: 13px;
                
            }
            &__item {
                font-size: 12px;
                line-height: 13px;
                span {
                    font-size: 12px;
                    line-height: 13px;
                }
                &:nth-child(1) {
                    margin-left: 13px;
                }
            }
            &__price {
                margin-top: 10px;
                font-size: 20px;
                line-height: 20px;
            }
            &__btn {
                padding: 12px 0 12px 0;
                width: 100%;
                font-size: 14px;
                &:hover {
                    cursor: auto;
                }
            }
        }
    }
    .button {
        margin-top: 10px;
        width: 300px;
        height: 45px;
        &:hover {
            cursor: auto;
        }
        &_form {
            width: 180px;
            font-size: 12px;
        }
    }
    .subscribe {
        margin-top: 25px;
        padding: 25px 30px 30px 25px;
        height: 200px;
        &__title {
            font-size: 29px;
            line-height: 29px;
        }
        &__subtitle {
            font-size: 17px;
        }
        &__email {
            width: 180px;
            min-height: 50px;
            padding: 0 15px;
            font-size: 10px;
        }
        label {
            font-size: 11px;
        }
        &__checkbox + label {
            &:before {
                width: 12px;
                height: 12px;
                margin-right: 8px;
            }
        }
    }
    .pageup {
        &__link {
            width: 45px;
            height: 45px;
            margin: 0 96%;
            &:hover {
                cursor: auto;
            }
        }
    }
    .status {
        width: 250px;
        height: 15px;
        font-size: 13px;
        line-height: 13px;
    }
}

@media (max-width: 575px) {
    .header {
        background: #000000;
        padding: 15px 15px 15px 15px;
        &__wrapper {
            flex-direction: column;
            min-height: 115px;
        }
        &__logo {
            width: 40px;
        }
        &__menu {
            width: 100%;
            ul {
                li {
                    a {
                        font-size: 12px;
                        line-height: 12px;
                    }
                }
            }
        }
        &__contacts {
            width: 100%;
        }
        &__phone {
            margin: 0 auto;
            font-size: 16px;
            line-height: 16px;
            text-align: center;
        }
        &__text {
            margin: 0 auto;
            margin-top: 10px;
            font-size: 14px;
            line-height: 14px;
            text-align: center;
        }
        &__title {
            margin: 0 auto;
            margin-top: 5px;
            font-size: 20px;
            text-align: center;
        }
    }
    .container {
        max-width: 575px;
    }
    .promo {
        &__wrapper {
            flex-direction: column;
        }
        &__sort {
            margin-bottom: 13px;
        }
        &__item {
            font-size: 12px;
            line-height: 12px;
        }
        &__link {
            font-size: 12px;
            line-height: 12px;
            span {
                margin-right: 3px;
            }
        }
        &-card {
            width: 265px;
            margin-bottom: 13px;
            &__discount {
                padding: 8px 0 6px 0;
                width: 45px;
                height: 25px;
                font-size: 10px;
                line-height: 10px;
            }
            &__wrapper {
                right: 25px;
            }
            &__descr {
                padding: 10px 15px 10px 15px;
            }
            &__title {
                font-size: 17px;
                line-height: 17px;
                text-align: center;
            }
            &__items {
                margin-top: 10px;
                :before {
                    height: 22px;
                }
            }
            &__item {
                font-size: 10px;
                line-height: 11px;
                span {
                    font-size: 10px;
                    line-height: 11px;
                }
                &:nth-child(1) {
                    margin-left: 10px;
                }
            }
            &__price {
                margin-top: 10px;
                font-size: 16px;
                line-height: 16px;
                text-align: center;
            }
            &__btn {
                padding: 10px 0 10px 0;
                font-size: 12px;
            }
        }
    }
    .button {
        margin-top: 0px;
        width: 250px;
        height: 35px;
        font-size: 12px;
        &_form {
            width: 180px;
            margin-top: 10px;
            font-size: 10px;
        }
    }
    .subscribe {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 15px;
        padding: 15px;
        height: 250px;
        &__descr {
            width: 100%;
        }
        &__title {
            font-size: 27px;
            line-height: 27px;
        }
        &__subtitle {
            margin-top: 10px;
            width: 100%;
            font-size: 15px;
        }
        &__form {
            margin-top: 10px;
            width: 100%;
            justify-content: space-around;
        }
        &__email {
            min-height: 40px;
            padding: 0 10px;
        }
        label {
            margin-top: 10px;
            font-size: 10px;
        }
        &__checkbox + label {
            &:before {
                width: 10px;
                height: 10px;
            }
        }
    }
    .pageup {
        &__link {
            width: 40px;
            height: 40px;
            margin: 0 93%;
        }
    }
}